#p1{
    text-decoration: overline;
}

#p2{
    text-transform: uppercase;
}

#p3 {
    text-shadow:  3px 3px 3px;
}

#h1{
    text-decoration: line-through;
    text-transform: capitalize;
    text-shadow: 2px 1px 3px;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap');

#font{
    font-family: 'roboto';
}