.first{
 font-size: 24px;   background-color: blue;
}

.second{
   font-size: 24px; background-color: rgb(rgb(132, 112, 112), rgb(38, 105, 38), rgb(43, 43, 103));
}

.third{
    font-size: 32px; background-color: #BFF777;
}

